:root {
  --foreground: #333;
  --foreground-2: #a1a1a1;
  --background: #F1EFE7;
  --primary: #800000;
}

* {
  scrollbar-color: var(--foreground-2) var(--background);
}

*::selection {
  background: var(--primary);
  color: #fff;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground)
}

main a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid rgba(125,125,125,.3);
  transition: border .3s ease-in-out;
}

main a:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

main pre {
  border: 1px solid var(--foreground);
  padding: 1em;
  overflow-x: auto;
}

pre, code  {
  font-feature-settings: normal;
  font-variation-settings: normal;
}

h1 {
  font-weight: 800;
  font-size: 2em;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  font-weight: 600;
  font-size: 1.25em;
}

h4 {
  font-weight: 600;
}

h2 a, h2 a:hover,
h3 a, h3 a:hover,
h4 a, h4 a:hover {
  border-bottom: none;
}
